<div class="container">

  <div class="py-5 text-center">
    <h2>Information about dispatcher</h2>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-8 order-md-2">
      <h2 class="featurette-heading">Dispatcher <span class="text-muted">№ 123465798</span></h2>

      <hr class="mb-4">

      <table class="table table-borderless">
        <tbody>
        <tr>
          <th>ID</th>
          <td>123456789</td>
        </tr>
        <tr>
          <th>Full name</th>
          <td>Maksymenko Natalya</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>maksymenkon@gmail.com</td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="col-md-4 order-md-1">
      <img src="dispatcher.png" class="img-fluid rounded dispatcher" alt="...">
      <!--                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
    </div>
  </div>

  <hr class="featurette-divider">
</div>


