
<div class="container">
  <div class="py-5 text-center">
    <h2>Login</h2>
  </div>

  <div class="row">
    <div class="col-sm-12  order-md-1 d-flex justify-content-center">
      <form class="needs-validation" novalidate>

        <div class="mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="credentials!.login" [ngModelOptions]="{standalone: true}" placeholder="you@gmail.com" required>
          <div class="invalid-feedback">
            Please enter your login email.
          </div>
        </div>
        <div class="mb-3">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="credentials!.password" [ngModelOptions]="{standalone: true}" placeholder="password" required>
          <div class="invalid-feedback">
            Please enter your password.
          </div>
        </div>

        <div class="mb-3">
          <label id="error">{{error}}</label>
        </div>

        <button class="btn btn-dark btn-block" type="submit" (click)="login()">Log in</button>
      </form>
    </div>
  </div>
</div>

