<div class="container">

  <div class="py-5 text-center">
    <h2>Information about call</h2>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-12">
      <h2 class="featurette-heading">Call <span class="text-muted">№ 123465798</span></h2>

      <hr class="mb-4">

      <table class="table table-borderless">
        <tbody>
        <tr>
          <th>ID</th>
          <td>123456789</td>
        </tr>
        <tr>
          <th>Date and time</th>
          <td>05.06.2021 15:26</td>
        </tr>
        <tr>
          <th>Patient name</th>
          <td>Dragan Valentyna</td>
        </tr>
        <tr>
          <th>Phone number</th>
          <td>063 245 98 54</td>
        </tr>
        <tr>
          <th>Address</th>
          <td>Nezalezhnosti str. 25, flat 16</td>
        </tr>
        <tr>
          <th>Call reason</th>
          <td>Heart attack</td>
        </tr>
        <tr>
          <th>Patient`s condition</th>
          <td>unstable</td>
        </tr>
        <tr>
          <th>Crew №</th>
          <td>123456798</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>on the road</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  <hr class="featurette-divider">
</div>

