<app-navbar></app-navbar>

<div class="container">
  <div class="py-5 text-center">
    <h2>New call</h2>
  </div>

  <div class="row">
    <div class="col-sm-6  order-md-1 justify-content-center">
      <form class="needs-validation" novalidate>

        <div class="mb-3">
          <label for="phone-number">Phone number</label>
          <input type="text" class="form-control" id="phone-number" [(ngModel)]="call.phoneNumber" [ngModelOptions]="{standalone: true}" name="something" placeholder="" required>
          <div class="invalid-feedback">
            Please enter patient's phone number.
          </div>
        </div>
        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" [(ngModel)]="call.address" [ngModelOptions]="{standalone: true}" name="something" placeholder="" required>
          <div class="invalid-feedback">
            Please enter patient's address.
          </div>
        </div>
        <hr class="mb-4">

        <div class="mb-3">
          <label for="call-reason">Call reason</label>
          <textarea class="form-control" id="call-reason" [(ngModel)]="call.reason" [ngModelOptions]="{standalone: true}" placeholder="" value="" required></textarea>
          <div class="invalid-feedback">
            Reason is required.
          </div>
        </div>
        <div class="mb-3">
          <label for="condition">Patient's condition</label>
          <input class="form-control" id="condition" [(ngModel)]="call.patientCondition" [ngModelOptions]="{standalone: true}" placeholder="name" value="" required>
          <div class="invalid-feedback">
            Condition is required.
          </div>
        </div>
        <div class="mb-3">
          <label for="crew">Crew</label>
          <select class="form-select d-block w-100" id="crew" [(ngModel)]="call.crew!.tabNumber" [ngModelOptions]="{standalone: true}" required>
            <option>Choose</option>
            <option *ngFor="let tabNum of crewTabNums" [ngValue]="tabNum">{{tabNum}}</option>
          </select>
          <div class="invalid-feedback">
            Please select a crew.
          </div>
        </div>

        <hr class="mb-4">

        <div class="mb-3">
          <label id="error">{{error}}</label>
        </div>

        <button class="btn btn-primary btn-block" type="submit" (click)="onCreate()">Create call</button>
      </form>
    </div>
    <div class="col-sm-6  order-md-1 d-flex justify-content-center">
      <table class="table table-hover  caption-top">
        <caption>List of crews</caption>
        <thead>
        <tr>
          <th scope="col">Crew ID</th>
          <th scope="col">Address</th>
          <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let crew of crews" routerLink="/crew/{{crew.tabNumber}}" role="button">
          <th scope="row">{{crew.tabNumber}}</th>
          <td>{{crew.location}}</td>
          <td>{{crew.availability}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
