<!--dispatcher navbar-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#" routerLink="/home">eAmbulance</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/dispatcher">My cabinet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/calls">Calls history</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/new-call">New call</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--crew navbar-->
<!--
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">eAmbulance</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">My cabinet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Calls history</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Current call</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
-->

<!--admin navbar-->
<!--
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">eAmbulance</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">My cabinet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Calls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Crews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dispatchers</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
-->
