<app-navbar></app-navbar>

<div class="container">

  <div class="container">

    <div class="py-5 text-center">
      <h2>Information about crew</h2>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-8 order-md-2">
        <h2 class="featurette-heading">Crew <span class="text-muted">№ 123465798</span></h2>

        <hr class="mb-4">

        <table class="table table-borderless">
          <tbody>
          <tr>
            <th>ID</th>
            <td>123456789</td>
          </tr>
          <tr>
            <th>Car number</th>
            <td>СВ 1965 НМ</td>
          </tr>
          <tr>
            <th>Members</th>
            <td>Kovalenko Lydmila, Ivanenko Ivan, Babych Oleksandra</td>
          </tr>
          </tbody>
        </table>

      </div>
      <div class="col-md-4 order-md-1">
        <img src="ambulance.png" class="img-fluid rounded ambulance" alt="...">
        <!--                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
      </div>
    </div>

    <hr class="featurette-divider">
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021 eAmbulance</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>

</div>
