<app-navbar></app-navbar>

<div class="container">
  <div class="py-5 text-center">
    <h2>List of Calls</h2>
  </div>

  <div class="row">
    <div class="col-sm-12  order-md-1 d-flex justify-content-center">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Reason</th>
          <th scope="col">Address</th>
          <th scope="col">Crew</th>
          <th scope="col">Status</th>

        </tr>
        </thead>
        <tbody *ngFor="let call of calls">
        <tr role="button" routerLink="/call/{{call.id}}">
          <th scope="row">{{call.id}}</th>
          <td>{{call.reason}}</td>
          <td>{{call.address}}</td>
          <td>{{call.crew!.tabNumber}}</td>
          <td>{{call.status}}</td>
        </tr>
<!--        <tr role="button">-->
<!--          <th scope="row">1</th>-->
<!--          <td>Heart attack</td>-->
<!--          <td>Nezalezhnosti str. 25, flat 16</td>-->
<!--          <td>123456789</td>-->
<!--          <td>on the road</td>-->
<!--        </tr>-->
<!--        <tr role="button">-->
<!--          <th scope="row">2</th>-->
<!--          <td>stabbing stomach pains</td>-->
<!--          <td>Danchenka str. 18, flat 55</td>-->
<!--          <td>132456788</td>-->
<!--          <td>completed</td>-->
<!--        </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</div>
